<!DOCTYPE html>
<html ng-app="udemyAdmin">
  <head>
    <title>Udemy tutorials - admin area</title>
  </head>
  <body ng-controller="articleCtrl">

    Number of articles to display: <input type="text" ng-model="numArticles" />

    <ul>
      <li ng-repeat="article in articles | limitTo:numArticles">
        {{article.title}}
      </li>
    </ul>

    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
  </body>
</html> 